<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js"></script>
</head>
<body>
    <div class="main-content">
        
        {{>header}}
        <p style="padding: 0 16px;">{{errorMessage}}</p>

    </div>
    {{>footer}}
</body>
</html>