<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        {{> header}}
        <img class ="portrait" src="/images/Navin.png">
             
    </header>    
    {{> footer}}
</body>

</html>