<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    
</head>

<body>
    <div class="main-content">
        {{>header}}   

        <form>
            <input type="text" placeholder="Location">
            <button >Search</button>
            <p style="padding: 0 16px;"></p>
            <div id="displayAddress"></div>
        </form>
        
    </div>
    {{>footer}}
    <script src="/js/appScript.js"></script>
</body>

</html>